@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// Fonts
$font: 'Outfit', sans-serif;
$f-size: 18px;

// Primary Colors
$primary: hsl(215, 51%, 70%);
$secondary: hsl(178, 100%, 50%);

// Neutral Colors
$white: hsl(0, 0%, 100%);
$light: hsl(215, 32%, 27%);
$medium: hsl(216, 50%, 16%);
$dark: hsl(217, 54%, 11%);
$black: hsl(0, 0%, 8%);

:root {
  font-size: $f-size;
}

* {
  box-sizing: border-box;
}

h1, h2, p, span {
  font-family: $font;
  margin: 0;
}
h1 {
  cursor: pointer;
  color: $white;
  font-size: 1.5rem;
  font-weight: 600;

  &:hover {
    color: $secondary;
  }
}
h2 {
  color: $secondary;
  font-size: 1.1rem;
  font-weight: 600;
}
p {
  color: $primary;
  font-size: 1rem;
  font-weight: 400;
}
span {
  color: $white;
  font-size: 1rem;
  font-weight: 300;

  &:hover {
    color: $secondary;
  }
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  font-family: $font;
  color: $white;
  text-align: center;
  font-size: 1rem;
  
  a {
    text-decoration: none;
    font-weight: 700;
    color: $secondary;
  }
}